.hero_content {
  padding-top: 2rem;
}
.hero_section {
  background: var(--hero-bg);
}
.hero_section h2 {
  color: var(--primary-color);
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 1rem;
}
.hero_subtitle {
  color: var(--primary-color);
  font-size: 1rem;
}
.hero_section p {
  color: var(--primary-color);
  margin-top: 3rem;
  line-height: 28px;
}
.buy_btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.section_title {
  color: var(--primary-color);
}
.timer_count {
  background: var(--primary-color);
  height: 300px;
}
.timer_count img {
  width: 70% !important ;
  height: 70% !important;
}

@media only screen and (max-width: 992px) {
  .hero_content h2 {
    font-size: 2rem;
  }
  .section_title {
    font-size: 1.7rem;
  }
  .counter_img{
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hero_content h2 {
    font-size: 1.6rem;
  }
  .hero_content p {
    font-size: 0.9rem;
  }
  .buy_btn {
    font-size: 0.9rem;
  }
  .section_title {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 576px) {
  .hero_content {
    padding-top: 0;
    margin-bottom: 40px;
  }
}
